<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aprovado</title>
    <style>
        .acerto{
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            background-color: green;
        }
        .acerto1{
            color: green;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 class="acerto"><b>PAGAMENTO APROVADO✅</b></h1>
    <p class="acerto1"><b>OTIMA ESCOLHA, VOLTE SEMPRE</b></p>
</body>
</html>